body, html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #ecf6f5;
  margin: 0;
  padding: 20px 5%;
}

.container-icon {
  text-align: center;
  padding: 10px 20px;
  border: solid 3px #07404c;
  border-radius: 10px;
  margin: 10px 15px;
  float: left;
  background-color: #eee;
  max-width: 300px;
  max-height: 300px;
}

.container-icon>img {
  margin-bottom: 15px;
  max-width: 100px;
}

.container-icon>button {
  margin-top: 15px;
}

#react-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
